body {
  background: #0A0F1E;
  color: white;
  font-family: 'Inter', sans-serif;
}

/* GLASS */
.glass {
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(14px);
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.1);
}

/* NAV */
.navbar {
  display:flex;
  justify-content:space-between;
  padding:20px;
}

.nav-links a {
  margin-left:20px;
  color:#ccc;
}

/* HERO */
.hero {
  display:flex;
  justify-content:space-between;
  padding:60px;
}

/* CARDS */
.cards {
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
  padding:40px;
}

.card {
  padding:30px;
  cursor:pointer;
  transition:0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

/* INPUT */
input {
  display:block;
  width:100%;
  padding:10px;
  margin:10px 0;
  border-radius:10px;
  background:#111;
  border:none;
}

/* BUTTON */
button {
  background: linear-gradient(135deg,#00F5FF,#007BFF);
  padding:10px;
  border:none;
  border-radius:10px;
  color:white;
  cursor:pointer;
}

/* QUIZ */
.quiz {
  padding:40px;
  margin:40px;
}

.option {
  display:block;
  margin:10px 0;
  padding:10px;
  background:#111;
  border-radius:10px;
  cursor:pointer;
}

.progress-bar {
  height:10px;
  background:#222;
  margin-bottom:20px;
  border-radius:10px;
}

#progress {
  height:100%;
  width:0%;
  background:#00F5FF;
}
